<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAG_Common">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IAG_Common1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://g1ml19618.mindtree.com:8071/AG_Common.svc/web"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAG_Common"
                contract="Common.IAG_Common" name="WSHttpBinding_IAG_Common" />
            <endpoint address="http://g1ml19618.mindtree.com:8070/AG_Common.svc/web"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAG_Common1"
                contract="AG_Common.IAG_Common" name="WSHttpBinding_IAG_Common1" />
        </client>
    </system.serviceModel>
</configuration>