<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ohwsSoapBinding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/rules-ejb/ohws/RulesOrderHandlerWS" binding="customBinding" bindingConfiguration="ohwsSoapBinding" contract="AG_CCR.ohws" name="ohws"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
