<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <variable name="myvar" value="myvalue" />
  <targets>
    <target name="ATP" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/ATP/ATP-${shortdate}.log" />
    <target name="logfile" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/Log/${shortdate}.log" />
    <target name="CurrentCarrier" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/CurrentCarrier/CurrentCarrier-${shortdate}.log" />
    <target name="IVAuto" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/IVAuto/IVAuto-${shortdate}.log" />
    <target name="CheckWriting" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/CheckWriting/CheckWriting-${shortdate}.log" />
    <target name="Audatex" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/Audatex/Audatex-${shortdate}.log" />
    <target name="ClueDataExchange" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="#{AGSharedPathClaimsLog}/ClueDataExchange/ClueDataExchange-${shortdate}.log" />
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="ComparativeRater" />-->
    <logger name="*.ATPService" minlevel='Debug' writeTo="ATP" />
    <logger name="AG.Claims.ATP.*" minlevel='Debug' writeTo="ATP" />
    <logger name="AG.Claims.LXNX.*" minlevel='Debug' writeTo="CurrentCarrier" />
    <logger name="*.LXNXService" minlevel='Debug' writeTo="CurrentCarrier" />
    <logger name="AG.Claims.IVAuto.*" minlevel='Debug' writeTo="IVAuto" />
    <logger name="*.IVAutoService" minlevel='Debug' writeTo="IVAuto" />
    <logger name="AG.Claims.CheckWriting.*" minlevel='Debug' writeTo="CheckWriting" />
    <logger name="*.CheckWriting" minlevel='Debug' writeTo="CheckWriting" />
    <logger name="AG.Claims.Audatex.*" minlevel='Debug' writeTo="Audatex" />
    <logger name="*.AudatexService" minlevel='Debug' writeTo="Audatex" />
    <logger name="AG.Claims.ClueDataExchange" minlevel ="Debug" writeTo="ClueDataExchange"/>
    <logger name="*.ClueDataExchangeService" minLevel ="Debug" writeTo="ClueDataExchange"/>
  </rules>
</nlog>
