<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Path" value="#{Path}"/>
    <add key="SharedPath" value="#{SharedPath}"/>
    <add key="ClueDataPath" value="#{ClueDataPath}"/>
    <add key="SharedPathUserName" value="#{SharedPathUserName}"/>
    <add key="SharedPathPassword" value="#{SharedPathPassword}"/>
    <add key="InsuranceCompanyURI" value="#{InsuranceCompanyURI}"/>
    <add key="TokenDetailsURI" value="#{TokenDetailsURI}"/>
    <add key="AssignmentRequestURI" value="#{AssignmentRequestURI}"/>
    <add key="ApiKey" value="#{ApiKey}"/>
    <add key="ApiUserID" value="#{ApiUserID}"/>
    <add key="IVAutoUserName" value="#{IVAutoUserName}"/>
    <add key="IVAutoPassword" value="#{IVAutoPassword}"/>
    <add key="ClueDataExchange" value="#{ClueDataExchange}"/>
    <!--Lexis Nexis Current Carrier Report Authentication-->
    <add key="LXNXUserName" value="#{LXNXUserName}"/>
    <add key="LXNXPassword" value="#{LXNXPassword}"/>
    <!--Lexis Nexis Current Carrier Report Authentication-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.ATPService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHTTPXactConnectBindingConfig"
          contract="AG.Claims.ATP.IATP" />       
      </service>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.CheckWriting">
        <endpoint address="" behaviorConfiguration="checkweb" binding="webHttpBinding" bindingConfiguration="webTransportSecurityAG"
	      	contract="AG.Claims.CheckWriting.ICheckWriting" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.IVAutoService">
        <endpoint address=""  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHTTPXactConnectBindingConfig"
          contract="AG.Claims.IVAuto.IIVAuto" />       
      </service>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.ClueDataExchangeService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHTTPXactConnectBindingConfig"
          contract="AG.Claims.ClueDataExchange.IClueDataExchange" />       
      </service>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.LXNXService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHTTPXactConnectBindingConfig"
          contract="AG.Claims.LXNX.ILXNX" />       
      </service>
      <service behaviorConfiguration="serviceBehavior" name="AG.Claims.XactConnect.AudatexService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webTransportSecurityAG"
          contract="AG.Claims.Audatex.IAudatexService" />
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHTTPXactConnectBindingConfig"
          contract="AG.Claims.Audatex.IAudatexService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true"/>
        </behavior>
        <behavior name="checkweb">
          <webHttp automaticFormatSelectionEnabled="false"/>
        </behavior>
        <behavior name="SOAP">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="LexisNexisDataFill" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
		sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
		hostNameComparisonMode="StrongWildcard"
		maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text"
		textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
              maxStringContentLength="2147483647" maxDepth="2147483647"
              maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="AudatexB2BFNOLService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
     sendTimeout="00:01:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHTTPXactConnectBindingConfig" transactionFlow="false" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webTransportSecurityAG" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
                maxStringContentLength="2147483647" maxDepth="2147483647"
                maxBytesPerRead="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="webTransportSecurity" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
       <binding name="webHTTPXactConnectBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
                maxStringContentLength="2147483647" maxDepth="2147483647"
                maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
      <endpoint address="#{IVAUTOAddress}"
          binding="basicHttpBinding" bindingConfiguration="BasicEndpoint"
          contract="IVService.IDataService" name="BasicEndpoint" />
      <endpoint address="http://localhost/Claims.WCF/AG_Common.svc/web" binding="wsHttpBinding"
               bindingConfiguration="wsHTTPXactConnectBindingConfig" contract="AG_Common.IAG_Common"
               name="WSHttpBinding_IAG_Common" />
      <endpoint address="#{LXNXAddress}"
               binding="basicHttpBinding" bindingConfiguration="LexisNexisDataFill"
               contract="AG_CCR.ohws" name="ohws" />
      <endpoint address="http://localhost/Claims.WCF/AG_Audatex.svc/web"
                binding="wsHttpBinding" bindingConfiguration="wsHTTPXactConnectBindingConfig"
                contract="AG_Audatex.IAG_Audatex" name="WSHttpBinding_IAG_Audatex" />
      <endpoint address="#{AudatexAddress}"
             binding="basicHttpBinding" bindingConfiguration="AudatexB2BFNOLService"
             contract="AudatexOutbound.IAudatexB2BFNOLService" name="AudatexB2BFNOLService" />
    </client>
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!--The contents of this section can be changed with the exception of the names of the connection strings.
      The names are used by the AFS framework and must not be changed.-->
    <remove name="LocalSqlServer"/>
    <add connectionString="#{claimsDbConnectionString}" name="LocalSqlServer"/>
    <add name="AFSUserStateArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSAEFArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AEFBPInstArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AEFIdPartitionArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSAuditArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSDataFileArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSEventArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSRefDataArchDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AuditTransaction" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="APPDATABASE" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="APPCONFIGDATABASE" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECFileNotesDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="FuncGrpFileNote" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="SECURITYDATABASE" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="PersonalizationConnection" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECPartyDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECPartyConfigDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECAddressDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECAddressConfigDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="ECConfigConsoleDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSEnvMgmtDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="AFSAEFRuntimeDb" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
    <add name="SignalRBackPlane" connectionString="#{claimsDbConnectionString}" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
